/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: papayawhip;
  color: forestgreen; 
}

h1 {
  font-style: italic;
  color: darkgreen;
  font-family: Tahoma, verdana, arial, sans-serif
}

button {
  padding: 10px;
  border-radius: 8px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}


#strikeArea > h2 {
  display:inline-block;
  padding: 10px;
}

.hidden {
  display: none;
}

.mistake {
  color: red;
}

#button1 {
    background: lightgreen;
}

#button2 {
    background: lightblue;
}

#button3 {
    background: pink;
}

#button4 {
    background: lightyellow;
}

#button5 {
    background: plum;
}

#button6 {
    background: peru;
}

#image6 {
  height: 130px;
}

#image5 {
  height: 130px;
}

#image4 {
  height: 130px;
}

#image3 {
  height: 130px;
}

#image2 {
  height: 130px;
}

#image1 {
  height: 130px;
}

#button1:active, #button1.lit {
    background:green;
}

#button2:active, #button2.lit {
    background:blue;
}

#button3:active, #button3.lit {
    background:red;
}

#button4:active, #button4.lit {
    background:yellow;
}

#button5:active, #button5.lit {
    background:mediumorchid;
}

#button6:active, #button6.lit {
    background:sienna;
}